%% -*- mode: erlang; -*-
{deps, [
  {riak_core, {git, "https://github.com/riak-core-lite/riak_core_lite", {tag, "v0.10.0"}}},
  {riak_core_lite_util, {git, "https://github.com/riak-core-lite/riak_core_lite_util.git", {branch, "master"}}},
  {pvc_proto, {git, "https://github.com/ergl/pvc_proto.git", {tag, "v0.13.0"}}},
  {shackle, {git, "https://github.com/ergl/shackle.git", {branch, "send-forget"}}},
  {ranch, "1.7.1"},
  {recon, "2.5.1"}
]}.

{relx,
    [
      {release, {grb_local1, "0.1.0"}, [grb, sasl]},
      {release, {grb_local2, "0.1.0"}, [grb, sasl]},
      {release, {grb_local3, "0.1.0"}, [grb, sasl]},
      {release, {grb_local4, "0.1.0"}, [grb, sasl]},
      {release, {grb , "0.1.0"}, [grb, sasl]},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true},

        {sys_config_src, "config/sys.config.src"},
        {vm_args_src, "config/vm.args.src"},

        {overlay, [
            {mkdir, "bin"},
            {copy, "bin/env", "bin/env"},
            {mkdir, "log/sasl"}
        ]}
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {i,"include"}
]}.

{profiles, [
  {basic_replication, [
    {erl_opts, [{d, 'BASIC_REPLICATION'}]}
  ]},
  {delay_clocks, [
    {erl_opts, [{d, 'DELAY_UNIFORM_CLOCKS'}]}
  ]},
  {remote_uvc, [
    {erl_opts, [{d, 'REMOTE_UVC'}]}
  ]},
  {debug_log, [
    {erl_opts, [{d, debug_log}]}
  ]},
  {debug_basic_replication, [
    {erl_opts, [{d, 'BASIC_REPLICATION'}, {d, debug_log}]}
  ]},
  {debug_bin, [
    {erl_opts, [bin_opt_info]}
  ]}
]}.
