%% -*- mode: erlang; -*-
{deps, [
  {riak_core, {git, "https://github.com/riak-core-lite/riak_core_lite", {tag, "v0.10.0"}}},
  {riak_core_lite_util, {git, "https://github.com/riak-core-lite/riak_core_lite_util.git", {branch, "master"}}},
  {pvc_proto, {git, "https://github.com/ergl/pvc_proto.git", {tag, "v0.12.2"}}},
  {ranch, "1.7.1"}
]}.

{relx,
    [{release, {grb , "0.1.0"}, [grb, sasl]},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true},

        {sys_config, "config/sys.config"},
        {vm_args_src, "config/vm.args.src"},

        {overlay, [
            {mkdir, "etc"},
            {mkdir, "bin"},
            {copy, "bin/env", "bin/env"},
            {mkdir, "data/ring"},
            {mkdir, "log/sasl"}
        ]}
]}.

{erl_opts, [
    debug_info,
    warnings_as_errors,
    {i,"include"}
]}.

{profiles, [
    {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
    {dev1, [{relx, [
                {sys_config, "config/sys_dev1.config"},
                {vm_args, "config/vm_dev1.args"}
    ]}]},
    {dev2, [{relx, [
                {sys_config, "config/sys_dev2.config"},
                {vm_args, "config/vm_dev2.args"}
    ]}]},
    {dev3, [{relx, [
                {sys_config, "config/sys_dev3.config"},
                {vm_args, "config/vm_dev3.args"}
    ]}]}
]}.
